
/*IMG Fondo*/
.bg--texture-06 {
  background-image: url(../img/bg-texture-06.jpg);
}


/*Username Comunidad*/
.usernameLosK{
  font-weight: bold;
  color: white;
  /* transform: rotate(-45deg) !important; */
  position: absolute;
  bottom: -78px;
  /* left: 72px; */
  width: 87%;
}
.userPais{
  width: 20px;
}

@media screen and (min-width: 1200px) {
  .usernameLosK{
    font-size: 15px;
    bottom: -62px;
    left: 10px;
  }
  .userPais{
    width: 10px;
  }
  .btnTwitch {
  font-size: .7rem;
  }
}
@media screen and (max-width: 1199.99px) {
  .usernameLosK{
    font-size: 15px;
    bottom: -73px;
    left: 10px;
  }
  .userPais{
    width: 10px;
  }
  .btnTwitch {
  font-size: .7rem;
  }
}

@media screen and (max-width: 991.99px) {
  .usernameLosK{
    font-size: 22px;
    bottom: -84px;
    left: 20px;
  }
  .userPais{
    width: 22px;
  }
}
@media screen and (max-width: 767.99px) {
  .usernameLosK{
    font-size: 22px;
    bottom: -83px;
    left: 10px;
  }
  .userPais{
    width: 22px;
  }
}

@media screen and (max-width: 520.99px) {
  .usernameLosK{
    font-size: 15px;
    bottom: -70px;
    left: 10px;
  }
  .userPais{
    width: 15px;
  }
}


@media screen and (max-width: 446.99px) {
  .usernameLosK{
    font-size: 15px;
    bottom: -70px;
    left: 10px;
  }
  .userPais{
    width: 15px;
  }
}

@media screen and (max-width: 410.99px) {
  .usernameLosK{
    font-size: 15px;
    bottom: -66px;
    left: 10px;
  }
  .userPais{
    width: 15px;
  }
}

@media screen and (max-width: 320.99px) {
  .usernameLosK{
    font-size: 15px;
    bottom: -67px;
    left: 10px;
  }
  .userPais{
    width: 15px;
  }
}

.slick-dots{
    border: 2px solid;
    padding: 20px !important;
    border-radius: 20px;
}

@media screen and (min-width:364px) and (max-width: 1199.99px) {
  .team-carousel__item{
    margin-top: 40px !important;
  }
}

.imgPublicidad{
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width:767.99px) {
    .imgPublicidad{
      display: none;
    }
}

.btnTwitch {
  font-size: 1rem;
  font-weight: bold;
  background-color: #FFF;
  color: #8000ae;
  border: none;
  border-radius: 5px;
  padding: 0 0.7rem;
  -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
.btnTwitch:hover {

  background-color: #8000ae;
  color: #FFF;
  -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
 
}